*{
    padding: 0;
    margin:0;
}
body{
    font-family: sans-serif;
}
header{
    background-color: #009688;
    height:150px
}

main{
    background-color: #dcdbd1;
    height: calc(100% - 150px);
    
}
#container-wrapp {
    width: 80%;
    margin: auto;
    min-height: 400px;
    background-color: beige;
    display: flex;
    position: absolute;
    top: 15%;
    left: 10%;
  }
#user-container{
    width: 321px;
   

}
#overflow-container{
    
        height: calc(500px - 277px);
        overflow: auto;
    
}

#message-container{
   width: calc(100% - 321px);
   

}
.user-data {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
    border-right: 1px solid #009688;
   
   
   
  }
.user-data div{
    display: flex;
}
.name-user{
    align-self: center;
}

.user-data img {
  max-width: 60px;
    border-radius: 50%;
    padding: 10px 5px;
      padding-top: 10px;
      padding-right: 5px;
      padding-bottom: 10px;
      padding-left: 5px;
    
    
  }
  .icon-container {
    color: #b1b1b1;
     font-size: 21px;
    margin: 28px 10px;
  }
  .icon-container i {
    padding: 0px 5px;
  }
  .accesso {
    font-size: 10px;
    color: #b1b1b1;
   
    
  }
  .name-user .accesso {
    position: absolute;
    top: 12%;
    right: 51%;
  }
  .notifiche , .ultimi-messaggi{
  
    display: flex;
    font-size: 13px;
    padding: 10px;
  }
  .notifiche{
    background-color: #8edafc;
    
  }

  .ultimi-messaggi{
    background-color: white;
  }
 .notifiche-container {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    color: #b1b1b1;
  }
  no
  .notifiche-messaggi{
    margin: 6px 13px;
  }
  .input-container {
    display: flex;
    background: white;
    justify-content: space-between;
    padding: 10px 24px;
  }
  .input-container i {
    color: #b1b1b1;
  }
  .notifiche img {
    max-width: 45px;
    border-radius: 50%;
    margin: 0px 0px;
  }
  .notifiche-messaggi{
    align-self: center;
    margin-left: 10px;
  }
  .input-container input{
  width: 100%;
  border: none;
  outline: none;
   
  }
  .notifiche-nome{

  }
  .ultimi-inviato{
    font-size: 10px;
    color: #b1b1b1;
  }
  .orario {
    margin-left: 170px;
    font-size: 10px;
    color: #b1b1b1;
  }
  #message-board {
    height: calc(500px - 223px);
    overflow: auto;
    background-image: url(https://st3.depositphotos.com/10953546/14866/v/450/depositphotos_148660113-stock-illustration-technology-social-media-network-link.jpg);
    background-size: cover;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 10px;
    

  }
  #console-container {
    width: 100%;
    height: 50px;
    background-color: #f3eeea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #console-container input {
    width: 670px;
    margin: 0px 30px;
    padding: 10px 0px;
    font-size: 18px;
    outline: none;
    border: none;
  }
  #console-container i{
    color: #6b7376;
    font-size: 18px;
  }
  .messaggi-utente {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
   
  }
  .colonna{
    display: flex;
    flex-direction: column;
  }
  .miei-messaggi{
    
        background-color:#d5f9ba;
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
        
      
  }
  #inviati{
    justify-content: end;
  }
  