<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <div id="app">
        
        <header>

        </header>
        <main>
            <div id="container-wrapp">
                <div id="user-container">
                    <div class="user-data">
                        <div>
                            <img src="imgs/avatar_io.jpg" alt="avatar_1"><span class="name-user"><strong>
                                Sofia
                            </strong></span>
                        </div>
                        <div class="icon-container">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notifiche">
                        <div class="notifiche-container">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notifiche-messaggi" >
                            Ricevi notifiche di nuovi messaggi
                            <div>
                                <a href="#">
                                    Attiva notifiche dekstop
                                </a>
                            </div>
                        </div>
                      </div>
                      <div class="input-container">
                       <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                       </div>
                        <input type="search">
                    </div>
                    <div id="overflow-container">
                        <div   v-for="(contact,index) in contacts"
                         @click="setActiveChat(index)"
                          class="utenti-chat"
                          :class="activeChat === 'index'  ?  'active' : ''" >
                            <img :src="contact.image" alt="">
                            <div class="flex">
                                <div class="notifiche-messaggi notifiche-nome" >
                                    {{contact.name}}
                                    <div class="ultimi-inviato">
                                        {{contact.messages[activeChat].message}}
                                   </div>
                                     <div class="orario">
                                         12:00
                                    </div>
                            </div>
                              
                            </div>
                          </div>
                          
                        </div>
                    </div>
                <div id="message-container">
                    <div class="user-data">
                        <div>
                            <img src="imgs/avatar_1.jpg" alt="avatar_1"><div class="name-user"><strong>
                                Michele
                            </strong>
                            <div class="accesso">
                                Ultimo accesso oggi alle 18:00
                            </div>
                          
                        </div>
                            
                        </div>
                        <div class="icon-container">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div id="message-board">
                       <div class="colonna ">
                        <div  v-for="message in contacts[activeChat].messages" 
                        :class="message.status === 'sent'  ?  'miei-messaggi':'messaggi-utente'" >
                            {{message.message}}
                            <div class="data">
                                {{message.date}}
                            </div>
                        </div>
                        <!-- <div class="messaggi-utente">
                            ciao .... bella pe te
                        </div> -->
                       
                        
                            <!-- <div class="miei-messaggi">
                                no no.... bella pe te
                            </div> -->
                        </div>
                    </div>
                    <div id="console-container">
                        <div><i class="fa-regular fa-face-smile"></i></div>
                        <div><input type="text" v-model="newMessage" @keyup.enter="addMessage"></div>
                        <div><i class="fa-solid fa-microphone" @click="addMessage"></i></div>
                    </div>
                    </div>
                   
                </div>
            </div>
        </main>
       

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/script.js"></script>
</body>

</html>